@import 'https://fonts.googleapis.com/css?family=Bungee';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: 'supercell';
    src: url(../font/supercell-magic-webfont.ttf);
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #070936 #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 23px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #070936;
    border-radius: 10px;
    border: 3px solid #000000;
  }
:root {
    font-size: 62.5%;
    --colorblue2-: #b0c6d4;
    --colorblue-: #1e3765;
    --colorwhite-: #f8f9fc;
    --colorblack-: #0000;
}

body {
    font-family: 'supercell';
    letter-spacing: 1.5px;
    font-weight: 700;
    background-color: var(--colorblue-);
    color: var(--colorwhite-);
    background: #6d95df;
    background-image: url(../fndo/claswall.jpg);
background-repeat: no-repeat;
background-position: top;
background-size: cover;
background-blend-mode: multiply;

}

header {
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.897);
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-shadow: -1px 0 1px #582E00, 
             	1px 0 1px #582E00,
             	0 -1px 1px #582E00,
             	0 4px 1px #582E00,
             	-2px 4px 1px #582E00,
             	2px 3px 2px #582E00;

}

.ul-nav {
    display: flex;
    gap: 1rem
}

.ul-nav li a {
    color: var(--colorwhite-);
    transition: all 3s;
}

.ul-nav li a:hover {
    color: var(--colorwhite-);
    border-bottom: 1px solid;
}



.title {
    letter-spacing: 1.5px;

    font-size: 2rem;
    color: var(--colorwhite-);
}

h1 {
    padding-bottom: 2rem;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 3rem auto 1rem;
    text-align: center;
    text-shadow: -1px 0 1px #582E00, 
             	1px 0 1px #582E00,
             	0 -1px 1px #582E00,
             	0 4px 1px #582E00,
             	-2px 4px 1px #582E00,
             	2px 3px 2px #582E00;

}

.contanier {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}



.contanier  a img {
    width: 10rem;
    height: auto;
    object-fit: cover;
    opacity: .8;
}

.contanier a img:hover {
    opacity: 1;
}
.titledeck{
    font-size: 2rem;
    text-shadow: -1px 0 1px #582E00, 
    1px 0 1px #582E00,
    0 -1px 1px #582E00,
    0 4px 1px #582E00,
    -2px 4px 1px #582E00,
    2px 3px 2px #582E00;
    margin: 0 0 0 5rem;
    padding: 0;
}


/* main */
main {
    padding: 15rem 1rem;
    

}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
    font-size: 1.5rem;
    background-color: black;
    padding: 2rem;
    color: white;
    text-align: center;
    
}

.card-deck {
    box-shadow: 0px 0px 15px black;
    max-width: 40rem;
    padding: 2rem;
    border-radius: 10px;
    background: rgb(5,29,59);
    background: linear-gradient(180deg, rgba(5,29,59,1) 0%, rgba(13,134,214,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;

}

.card-deck img {

    width: 100%;
    border-radius: 10px;
    transition: all .2s;
    display: none;

}

.card-deck img:hover {
    transform: scale(1.04);
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}



.deck {
    padding: 3rem 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    row-gap: 4rem;
    
}

.home {

    width: 305px;
    height: 320px;
    border-radius: 22px;
    transition: 0.4s;
    animation: rotateAnimation 2s infinite linear alternate;
}
@keyframes rotateAnimation {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(5px);
    }

  }
.home:hover{
    transform: scale(1.04);
}
.organiza{
    display: flex;

}

.aba{
    background-color: #19356ca3;
    backdrop-filter: blur(10px);
    padding: 17px;
    width: fit-content;
    height: min-content;
    transition: 0.4s;
    border-radius: 50px;
box-shadow:  -20px 20px 60px #152d5c,
             20px -20px 60px #1d3d7c;
}
.aba:hover{
    background-color: #3fa5e59d;
    backdrop-filter: blur(10px);
    
}

.flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4rem;
}
i{
    font-size: 3rem;
}
.contanier{
    
    background-color: #041944b7;
    backdrop-filter: blur(10px);
    padding: 17px;
    border-radius: 20px;
    width: fit-content;
    height: min-content;
    box-shadow: 0px 0px 10px black;
}
.tituloaba{
    text-align: center;
    font-size: 45px;
    margin-bottom: 12px;
    background-color: #ffffff;
    border-radius: 13px; 
    color: #041944;
    
}
.decoracao{
    max-width: 800px;
    height: 150px;
    caret-color: #6d95df;
    
   
   
}
.wrapper{
    display: flex;
    gap: .2rem;
    align-items: center;
    justify-content: space-around;
}
.Coroa{
    width: 50px;
}
.cartas{
    width: 15%;
    height: 100px;
    object-fit: contain;


}
.cima{
    display: flex;
    justify-content: space-around;

    gap: .5rem;
}
.baixo{
    display: flex;
    justify-content: space-around;
    gap: .5rem;
}



/* botao */
#titre{
	margin : 0 auto;
	border-bottom:5px solid black;
	width:524px;
  font-size:39px;
	font-family: "bungee",sans-serif;
  font-style: normal;
  font-weight: 400;
	color:white;
	text-shadow: -1px 0 1px #582E00, 
             	1px 0 1px #582E00,
             	0 -1px 1px #582E00,
             	0 4px 1px #582E00,
             	-2px 4px 1px #582E00,
             	2px 3px 2px #582E00;
}


.couche1{
	position: relative;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	width:150px;
	height:50px;
	background:black;
	-webkit-box-shadow: 0px 11px 2px #301C09;
    -moz-box-shadow: 0px 11px 2px #301C09;
    box-shadow: 0px 11px 2px #301C09;
    cursor:pointer;
    margin : 20px auto;

    
}

.couche2{
	position:absolute;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width:144px;
	height:44px;
	margin-top:3px;
	margin-left:3px;
	background:#FDA80D;
	-webkit-box-shadow: 0px 9px 0px #AF6B06;
    -moz-box-shadow: 0px 9px 0px #AF6B06;
    box-shadow: 0px 9px 0px #AF6B06;

}

.couche23{
	position:absolute;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width:142px;
	height:30px;
	margin-top:5px;
	margin-left:1px;
    -webkit-box-shadow: 0px -4px 5px 0px #FFDC33;
    -moz-box-shadow:    0px -4px 5px 0px #FFDC33;
	box-shadow:         0px -4px 5px 0px #FFDC33;


}

.couche3{
	position:absolute;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top:0px;
	margin-left:5px;
	width:131px;
	height:32px;
	background:rgba(255,187,42,1);
	-webkit-box-shadow: 0px 4px 3px 0px #FE8906;
	-moz-box-shadow:    0px 4px 3px 0px #FE8906;
	box-shadow:         0px 4px 3px 0px #FE8906;

}

.couche4{
	position:absolute;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top:5px;
	margin-left:3px;
	width:125px;
	height:12px;
	background:#FFD053;
	
}

/* .couche5{
	position:absolute;
	-webkit-border-radius: 45%;
	-moz-border-radius: 45%;
	border-radius: 45%;
	margin-top:0px;
	margin-left:267px;
	width:2px;
	height:4px;
	background:#FFF1B6;

} */

.battle{
	position:absolute;
	font-family: 'supercell';
  font-style: normal;
  font-weight: 400;
	color:#FFFFCC;
	font-size:1.6rem;
	margin-top:0px; 
	margin-left:20px;
	text-shadow: -1px 0 1px #582E00, 
             	1px 0 1px #582E00,
             	0 -1px 1px #582E00,
             	0 4px 1px #582E00,
             	-2px 4px 1px #582E00,
             	2px 3px 2px #582E00;
}

/*effects*/
.couche1:active{
	width:148px;
	height:48px;
}

.couche1:active .couche2{
	width:144px;
	height:44px;
}

.couche1:active .couche23{
	width:131px;
	height:32px;
}

.couche1:active .couche3{
	width:131px;
	height:32px;
}

.couche1:active .couche4{
	width:125px;
	height:12px;
}

.couche1:active .couche5{
	width:2px;
	height:4px;
	margin-left:248px;
}

.couche1:active .battle{
	margin-top:0px; 
	margin-left:20px;
}

#green2{
	background:#09CC48;
	-webkit-box-shadow: 0px 9px 0px #0D8F23;
    -moz-box-shadow: 0px 9px 0px #0D8F23;
    box-shadow: 0px 9px 0px #0D8F23;

}

#green23{
	-webkit-box-shadow: 0px -4px 5px 0px #60DA61;
    -moz-box-shadow:    0px -4px 5px 0px #60DA61;
	box-shadow:         0px -4px 5px 0px #60DA61;
	
}

#green3{
	background:#30ED45;
	-webkit-box-shadow: 0px 4px 3px 0px #25D039;
	-moz-box-shadow:    0px 4px 3px 0px #25D039;
	box-shadow:         0px 4px 3px 0px #25D039;
		
}

#green4{
	background:#50FF65;
	
}

#green5{
	background:#D9FFFF;
	
	
}

#battle_green{
    margin-left: 2px;
	text-shadow: -1px 0 1px #005F00, 
             	1px 0 1px #005F00,
             	0 -1px 1px #005F00,
             	0 4px 1px #005F00,
             	-2px 4px 1px #005F00,
             	2px 3px 2px #005F00;
    color:#FEFEFE;
}

#battle_green:hover{
    margin-left: 2px;
}

.add-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.add-flex h2{
    font-size: 4rem;
    text-shadow: -1px 0 1px #582E00, 
             	1px 0 1px #582E00,
             	0 -1px 1px #582E00,
             	0 4px 1px #582E00,
             	-2px 4px 1px #582E00,
             	2px 3px 2px #582E00;
}
.add-flex img{
    max-width: 300px;
}
.add{
    margin:0rem auto 0;
    background-color: #19356ca3;
    backdrop-filter: blur(10px);
    padding: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 2000px;
    border-radius: 20px;

}
.main-nav-ul{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.851);
    top: 10.2rem;
    left: 0;
    right: 0;
    overflow: hidden;
    max-height: 0px;
    transition: all .3s;
    z-index: 10000;
}
.check:checked  + label + .main-nav-ul{
    max-height: 260px;
}
.main-nav-itens a{
    color: var(--color-white-);
    padding: 1rem;
    display: block;
    text-align: center;
    font-size: 2.5rem;
    transition: all .3s;
}
.main-nav-itens a:hover{
    background-color: #0c0a0c;
    letter-spacing: 1.5px;
    text-shadow: 0px 0px 8px var(--color-red-);
    z-index: 10000;
}
.check{
    width: 1px;
    height: 1px;
}
.menu{
    cursor: pointer;
    overflow: hidden;
    width: fit-content;
    margin-left: auto;

}
.line{
    width: 45px;
    height: 3px;
    background-color: white;
    margin:1rem;
    transition: all .3s;
}

.check:checked + label div .one{
    transform: rotate(-45deg) translateY(18px);
    box-shadow: 0px 0px 8px var(--color-red-);
}

.check:checked + label div .two{
    width: 1px;
    opacity: 0;
}
.check:checked + label div .tree{
    transform: rotate(45deg)translateY(-18px);
    box-shadow: 0px 0px 8px var(--color-red-);
}
.icones{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.icones i{
    font-size: 50px;
    text-shadow: -1px 0 1px #582E00, 
             	1px 0 1px #582E00,
             	0 -1px 1px #582E00,
             	0 4px 1px #582E00,
             	-2px 4px 1px #582E00,
             	2px 3px 2px #582E00;
    color: white;
    transition: all .3s;
}
.icones a{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    text-shadow: -1px 0 1px #582E00, 
             	1px 0 1px #582E00,
             	0 -1px 1px #582E00,
             	0 4px 1px #582E00,
             	-2px 4px 1px #582E00,
             	2px 3px 2px #582E00;
    color: white;
    transition: all .3s;

}
.icones i:hover{
    font-size: 50px;
    text-shadow: -1px 0 1px #582E00, 
             	1px 0 1px #582E00,
             	0 -1px 1px #582E00,
             	0 4px 1px #582E00,
             	-2px 4px 1px #582E00,
             	2px 3px 2px #582E00;
    color: rgb(55, 62, 184);
}
.icones a:hover{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    text-shadow: -1px 0 1px #582E00, 
             	1px 0 1px #582E00,
             	0 -1px 1px #582E00,
             	0 4px 1px #582E00,
             	-2px 4px 1px #582E00,
             	2px 3px 2px #582E00;
    color: rgb(55, 62, 184);

}
.elixir{
   width: 35px;
   height: 35px;
}
.elixir-fundo{
    background-color: #000000af;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    margin-top: 10px;
    margin-left: auto;
}
.elixir-fundo p{
    font-size: 2rem;
    color:rgb(216, 9, 216) ;

}
.icones-footer{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    text-shadow: -1px 0 1px #adadad, 
             	1px 0 1px #adadad,
             	0 -1px 1px #adadad,
             	0 4px 1px #adadad,
             	-2px 4px 1px #adadad,
             	2px 3px 2px #adadad;
    color: white;
    transition: all .3s;
}
.icones-footer a{
    background-color: white;
    border-radius: 50%;
    padding: 1.5rem;
}
.icones-footer i{
    color: rgb(0, 0, 0);
}

.decoracao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
}
.imagem-decoracao{
    width: 200px;
    height: 200px;
    animation: rotateAnimation 2s infinite linear alternate;
    object-fit: contain;

}

.perfil{
    width: 200px;
    height: 200px;
    border-radius:50% 50% 50% 50% / 49% 49% 51% 51%  ;
    box-shadow:  -5px 5px 0px #701674,
             5px -5px 0px #de39ff;
    animation: rotate 3s linear infinite alternate;
}
@keyframes rotate {
    0% {
        border-radius: 50% 50% 50% 50% / 49% 49% 51% 51%  ;
     
    }
    50% {
        border-radius: 58% 42% 56% 44% / 35% 50% 50% 65%     ;
    }
    100% {
        border-radius: 50% 50% 50% 50% / 49% 49% 51% 51%  ;
       
    }
}
.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}
.nome{
    font-size: 40px;
}
.informaçoes{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.712);
    margin-bottom: 10px;
}
.card-contatos{
    margin: auto;
    padding: 50px 0px;
    position: relative;
    background-color: rgb(21, 18, 18);
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 800px;

    z-index: 1;
    font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.cntt{
    margin-bottom: 30px;
    width: 100%;
    border-top: 3px solid white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.cntt p{
    font-size: 40px;
}
.aba1{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.aba1  div{
    display: flex;
    gap: 20px;
}
.aba1  a{
   color: inherit;
   margin-left: 20px;
   display: inline-block;
}
.aba1  i{
    margin-left: 10px;
    color: black;
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}
.aba1 span{
    padding-left: 20px;
    pointer-events: stroke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    font-size: 25px;
    border-radius: 30px;
   color: white;
   border: 2px solid rgb(255, 255, 255);
   transition: all .5s;
}
.aba1 span:hover{
    background-color: white;
    color: black;
}


.decorativa{
    width: 300px;
    height: 300px;
    border-radius: 42% 58% 45% 55% / 55% 62% 38% 45% ;
    background-color: rgba(255, 255, 255, 0.03);
    position: absolute;
    animation: movee 10s linear infinite alternate;
    pointer-events: none;
    z-index: -1;
}
.menor{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 400px;
    animation: movee 13s linear infinite alternate;
}
@keyframes movee {
    0% {
        border-radius: 50% 50% 50% 50% / 49% 49% 51% 51%  ;
        transform: translateY(0);
     
    }
    50% {
        border-radius: 58% 42% 56% 44% / 35% 50% 50% 65%     ;
        
    }
    100% {
        border-radius: 50% 50% 50% 50% / 49% 49% 51% 51%  ;
        transform: translateY(350px);
       
    }
}

.fa-arrow-left{
    color: white;
    margin-right: 2rem;
}
@media screen and (min-width: 46.25em) {
    .titledeck{
        font-size: 4rem;
       
        margin: 0;
        padding: 0;
    }
    
    main {
        padding: 15rem 0rem;
    }
    .contanier a img {
        width: 170px;
    }

    .contanier {
        justify-content: center;
        padding: 0px;
        align-items: center;
    }
    h1{
        font-size: 4rem;
        margin-top:8rem;
    }
    .add{
        margin:0rem auto 0;
        background-color: #19356ca3;
        backdrop-filter: blur(10px);
        padding: 17px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        max-width: 2000px;
        border-radius: 20px;
    
    }
}